.NotesGrid
  display: block

  .title
    display: block
    text-align: center
    margin-bottom: 15px

  .NotesGridBody
    //display: flex
    margin-bottom: -30px

    .Note
      display: inline-block
      vertical-align top
      padding: 0px 15px
      padding-bottom: 30px
      width: 33.3333%
      box-sizing border-box

      .NoteBody
        border 1px solid #555555
        text-align: center
        border-radius 4px
        box-sizing border-box
        padding: 15px

        .button
          display: inline-block
          padding: 10px
          background-color: #555555
          color: #ffffff
          border-radius 4px